# Directories to ignore:
__pycache__
_broken
_testing

Extracts/Alanine/HDF_coord
HDF_coord
Split_parquets
Sync_to_mac
Old_outputs
Restart/228_atoms/idk
Restart/228_atoms/logs
Restart/228k_atoms/logs
Restart/22.8M_atoms/frame_*
Restart/22.8M_atoms/random_400_frames/frame_*
*test_analyze*
*ipynb_checkpoint*

# File extensions to ignore: 
*.dcd
*.h5
*.pdb
*.pq
*.log
*.out
*.txt
*.err
*.xyz
*.conf
*.final
*.restart
*.data
*.csv

core.lmp_mpi*


